<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a routerLink="/categories">Categories</a>
        <a routerLink="/retail">Products</a>
        <a routerLink="/aboutus">Aboutus</a>
        <a routerLink="/login">Login</a>
    </div>
    <h1 style="text-align: center;" ><marquee>The Art of Stationery</marquee></h1>
    <h1>About Our Store</h1>
    <h2 style="text-align: center;" >The Art of Stationery is your one-stop destination for premium, stylish, and functional stationery products that inspire creativity and productivity. From elegant notebooks and planners to high-quality pens, desk accessories, and unique art supplies, we offer carefully curated collections that blend design with practicality</h2>
    <img id="image" src="/assets/home.png">

</body>
</html>